@model DataLayer.Model.Transfer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SimCardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimCardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransferID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
