@model DataLayer.Model.SimCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SimCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SimCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
